@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500);
html, body{overflow-x: hidden;}
*{font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5,h6{ font-weight:300}
p,li,a{font-weight:400}
.img-responsive{margin:0 auto}
.navbar-default{background-color: #009688; border-color: #004D40;}
.navbar-default .navbar-brand{color:#fff}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color:#E0F2F1;}

.active{background-color: #eee; outline: 0;}
.sidebar-nav a{font-weight:500}
h1.title{padding:40px 15px 40px 35px; margin: -20px -20px 15px -20px; text-align:center}
h2.title{font-weight:300; color:#636363}
.light-blue{background-color:#03A9F4; color:#fff}
.big-text li{font-size:24px; font-weight:100; list-style-type:square}
.menulist{font-weight:300; font-size:24px}
.menulist{padding:0; margin:0}
.menulist hr{margin:5px 0}
.menulist li{list-style-type:none; text-align:center; min-height:150px; padding-top:15px; color:#fff}
.menulist li:hover, .menulist li.active{text-decoration:underline}
.menulist li:hover>img{opacity:0.8}
.menulist li:nth-child(1n){background-color:#009688; }
.menulist li:nth-child(2n+1){background-color:#00897B; }
.menulist li:nth-child(3n+1){background-color:#00796B; }
.menulist li:nth-child(4n+1){background-color:#00695C; }
.menulist li:nth-child(5n+1){background-color:#004D40; }
.menulist li:nth-child(6n+1){background-color:#26A69A; }
#contenedor-btn .collapse {padding:15px 0 0 0; background-color:#F1F1F1;}
#contenedor-btn blockquote{margin:25px 0 0 0;background-color:rgba(0,0,0,0.10)}
.well{background-color:initial; border:initial; border-radius:initial}
#contenedor-btn .collapse hr{border-top: 1px solid #009688;}
textarea { resize:vertical; }
.resaltar{background-color:#FF0;}
.form-horizontal label{font-size: 30px; text-align: right; padding: 0px 0px; font-weight: 300;} 
.links a h3{text-overflow: ellipsis; overflow:hidden;}
@media(max-width:768px) {
	h1.title{margin: -20px -15px 15px -15px;}
}